---
layout: layouts/base.njk
---
{# List every content page in the project #}
<ul>
    {%- for entry in collections.all %}
        <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
    {%- endfor %}
</ul>
