---
eleventyComputed:
  title: Tagged "{{ tag.tagName }}"
layout: layouts/home.njk
pagination:
  data: collections.tags4x4
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/fr/tags/{{ tag.tagName | slugify }}/{% if tag.pageNumber %}page-{{ tag.pageNumber + 1 }}/{% endif %}"
segments:
  - url: /blog/
    title: Blog
---
{% include "components/breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-3">
    <div class="fr-sidemenu__title"> {{ 'tags' | i18n }}</div>
    {% set tags = collections.all | getAllTags | filterTagList %}
    {% set currentTagName = tag.tagName %}
    {% include "components/taggroup.njk" %}
  </div>
  <div class="fr-col-12 fr-col-md-9">
    {% set postslist = tag.pageData %}
    {% include "postslist.njk" %}
  </div>
</div>

{% set tagUrl %}{{ '/tags/'| locale_url }}{{ tag.tagName | slugify }}/{% endset %}
{% set pagination = pagination | pagination_object(tagUrl) %}
{% include "components/pagination.njk" %}
