---
permalink: /mission-logiciels-libres.ics
---
{% set events %}
  [
  {% for event in collections.event %}
    {% set year = event.data.date | getYear %}
    {% set month = event.data.date | getMonth %}
    {% set day = event.data.date | getDay %}
    {% set hour = event.data.date | getHour %}
    {% set minute = event.data.date | getMinute %}
    {
    {% if hour == 0 and minute == 0 %}
    "start": [ {{ year }}, {{ month }}, {{ day }} ],
    "end": [ {{ year }}, {{ month }}, {{ day + 1 }} ],
    {% else %}
    "start": [ {{ year }}, {{ month }}, {{ day }}, {{ hour }}, {{ minute }} ],
    "duration": { "minutes": {{ event.data.duration or 60 }} },
    {% endif %}
    "title": "{{ event.data.title }}",
    "description": "{{ event.data.description }}",
    "location": "{{ event.data.location }}",
    "organizer": { "name": "{{ metadata.author.name }}", "email": "{{ metadata.author.email }}" }
    }
    {% if not loop.last %},{% endif %}
  {% endfor %}
  ]
{% endset %}
{{ events | createEvents }}
