<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="{{ "/" | locale_url }}" title="{{ "home" | i18n }} - {{ metadata.service }}">
          <p class="fr-logo">République<br/>française</p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">{{ data.footer_content_description | safe }}</p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external"
               href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external"
               href="https://gouvernement.fr">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external"
               href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external"
               href="https://data.gouv.fr">data.gouv.fr</a></li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/sitemap/">{{ "sitemap" | i18n }}</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/fr/accessibilite/">
            {{ "accessibility" | i18n }} : {{ "not_compliant" | i18n }}
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/fr/mentions-legales/">{{ "legal" | i18n }}</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/fr/donnees-personnelles/">{{ "personal_data" | i18n }}</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-icon-pencil-line fr-link--icon-left"
             href="{{ metadata.repository_url }}/blob/main/{{ page.inputPath }}">{{ "edit_this_page" | i18n }}</a>
        </li>
        {# <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#">Gestion des cookies</a>
        </li> FIXME Uncomment when DSFR cookie component #}
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal"
                  data-fr-opened="false">
            {{ "display_params" | i18n }}
          </button>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention contraire, tous les contenus de ce site sont sous <a
              href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank"
              rel="noopener">licence etalab-2.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>
