<div class="fr-follow">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--top">
      <div class="fr-col-12 fr-col-md-4">
        <div class="fr-follow__newsletter">
          <div>
            <p class="fr-h5">{{ metadata.newsletter[0].title or "subscribe_newsletter" | i18n }}</p>
            <p class="fr-text--sm">{{ metadata.newsletter[0].description }}</p>
          </div>
          <div>
            <a class="fr-btn" title="{{ "subscribe" | i18n }}" href="{{ metadata.newsletter[0].url }}" target="_blank">
              {{ "subscribe" | i18n }}
            </a>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4">
        <div class="fr-follow__newsletter">
          <div>
            <p class="fr-h5">{{ metadata.newsletter[1].title or "subscribe_newsletter" | i18n }}</p>
            <p class="fr-text--sm">{{ metadata.newsletter[1].description }}</p>
          </div>
          <div>
            <a class="fr-btn" title="{{ "subscribe" | i18n }}" href="{{ metadata.newsletter[1].url }}" target="_blank">
              {{ "subscribe" | i18n }}
            </a>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4">
        <div class="fr-follow__social">
          <p class="fr-h5">{{ "follow_us_description" | i18n | safe }} </p>
          <ul class="fr-links-group">
            {% if metadata.facebook_url %}
              <li><a class="fr-link--facebook fr-link"
                     title="Facebook - {{ "new_window" | i18n }}"
                     href="{{ metadata.facebook_url }}" target="_blank">
                  facebook </a></li>
            {% endif %}
            {% if metadata.mastodon_url %}
              <li><a class="fr-link--mastodon fr-link"
                     title="Mastodon - {{ "new_window" | i18n }}"
                     href="{{ metadata.mastodon_url }}" target="_blank">
                  mastodon </a></li>
            {% endif %}
            {% if metadata.twitter_url %}
              <li><a class="fr-link--twitter fr-link"
                     title="Twitter - {{ "new_window" | i18n }}"
                     href="{{ metadata.twitter_url }}" target="_blank">
                  twitter </a></li>
            {% endif %}
            {% if metadata.instagram_url %}
              <li><a class="fr-link--instagram fr-link"
                     title="Instagram - {{ "new_window" | i18n }}"
                     href="{{ metadata.instagram_url }}" target="_blank">
                  instagram </a></li>
            {% endif %}
            {% if metadata.linkedin_url %}
              <li><a class="fr-link--linkedin fr-link"
                     title="Linkedin - {{ "new_window" | i18n }}"
                     href="{{ metadata.linkedin_url }}" target="_blank">
                  linkedin </a></li>
            {% endif %}
            {% if metadata.youtube_url %}
              <li><a class="fr-link--youtube fr-link"
                     title="Youtube - {{ "new_window" | i18n }}"
                     href="{{ metadata.youtube_url }}" target="_blank">
                  youtube </a></li>
            {% endif %}
            {% if metadata.peertube_url %}
              <li><a class="fr-link--peertube fr-link"
                     title="PeerTube - {{ "new_window" | i18n }}"
                     href="{{ metadata.peertube_url }}" target="_blank">
                  peertube </a></li>
            {% endif %}
          </ul>
          <ul class="fr-links-group">
            {% if metadata.github_url %}
              <li><a class="fr-link--github fr-link"
                     title="GitHub - {{ "new_window" | i18n }}"
                     href="{{ metadata.github_url }}" target="_blank">
                  github </a></li>
            {% endif %}
            {% if metadata.sourcehut_url %}
              <li><a class="fr-link--sourcehut fr-link"
                     title="sourcehut - {{ "new_window" | i18n }}"
                     href="{{ metadata.sourcehut_url }}" target="_blank">
                  sourcehut </a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>