<div class="fr-grid-row fr-grid-row--gutters fr-mb-6v" data-pagefind-ignore>
  {% asyncAll post in postslist %}
  <div class="fr-col-12 fr-col-md-4">
    {% from "components/component.njk" import component with context %}
    {{ component("card", {
      url: post.url,
      title: post.data.title,
      description: post.data.description | safe,
      tags: post.data.tags,
      date: post.date,
      badges: post.data.badges,
      image: {
        path: post.data.image.path | resolvePath(post),
        alt: post.data.image.alt
      }
    }) }}
  </div>
  {% endall %}
</div>
