<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w" data-pagefind-ignore>
  {% asyncAll post in postslist %}
  <div class="fr-col-12 fr-col-md-4">
    {% set card = {
      url: post.url,
      title: post.data.title,
      description: post.data.description,
      tags: post.data.tags,
      date: post.date,
      imagePath: post.data.image.path | resolvePath(post),
      imageAlt: post.data.image.alt,
      badges: post.data.badges
    } %}
    {% include "components/card.njk" %}
  </div>
  {% endall %}
</div>
