{# Mandatory variable `postslist: CollectionItem[]` to make it work #}
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    {% asyncAll post in postslist %}
    <div class="fr-col-12">
        {% set card = {
            url: post.url,
            title: post.data.title,
            description: post.data.description,
            tags: post.data.tags,
            date: post.date,
            imagePath: post.data.image.path,
            imageAlt: post.data.image.alt
        } %}
        {% include "components/card-horizontal.njk" %}
    </div>
    {% endall %}
</div>
