<p>
  Les ateliers BlueHats sont des visioconférences où des agents publics présentent des logiciels libres qu'ils utilisent ou développent. Ils se tiennent un ou deux vendredi par mois de 11h à 12h30.  Ils sont visibles en rediffusion sur <a href="https://tube.numerique.gouv.fr/a/logicielslibres/video-channels" target="_blank">notre chaîne BlueHats</a>.
</p>
<p>
  Vous pouvez <strong>proposer un atelier</strong> via <a target="_blank" href="https://pad.numerique.gouv.fr/2ZABhm7MQw2XGxuEPtmukA#">ce pad</a>.
</p>
<p>
  Tout le monde peut assister en ligne aux ateliers via <a href="https://webinaire.numerique.gouv.fr//meeting/signin/362/creator/369/hash/84c9902a44b481830388d5d69c808eb669da0a5b" target="_blank">ce lien</a>.
</p>
<p>
  Vous pouvez aussi vous abonner au <a href="/calendar.ics">calendrier .ics</a> de tous les événements de la mission.
</p>
