<div class="fr-highlight fr-highlight--blue-cumulus">
  <p class="fr-text--lg">
    Les ateliers BlueHats sont des visioconférences où des agents publics présentent des logiciels libres qu'ils
    utilisent ou développent. Ils se tiennent un ou deux vendredi par mois de 11h à 12h30. Ils sont visibles en
    rediffusion sur <a href="https://tube.numerique.gouv.fr/c/bluehats" target="_blank">notre
      chaîne BlueHats</a>.
  </p>
  <p class="fr-text--lg">
    Tout le monde peut assister en ligne aux ateliers via <a
        href="https://webinaire.numerique.gouv.fr/meeting/signin/invite/362/creator/369/hash/14eb55bd230aa1a8b8a98e0ee35b056d0196afcf"
        target="_blank">ce lien</a>.
  </p>
  <p class="fr-text--lg">
    Vous pouvez aussi vous abonner au <a href="/mission-logiciels-libres.ics">calendrier <code>.ics</code></a> de tous les événements
    de la mission.
  </p>
</div>
