<div class="fr-highlight fr-highlight--blue-cumulus">
  <p class="fr-text--lg">
    La gazette BlueHats est la contribution de la DINUM au mouvement
    BlueHats. Cette lettre bimestrielle partage des informations sur
    l'utilisation et le développement de logiciels libres dans et pour
    l'administration. Elle sert aussi à donner une vue d'ensemble des
    activités du réseau de compagnonnage BlueHats. En la lisant, vous
    découvrirez des projets que vous pourrez tester ou suivre ; en y
    contribuant, vous partagerez vos initiatives et vos découvertes.
  </p>

  <p class="fr-text--lg">
    Vous pouvez demander à être inscrit en écrivant à <a href="mailto:contact@code.gouv.fr?subject=Inscription à la gazette BlueHats">contact@code.gouv.fr</a>.
  </p>
</div>
