---
title: Mobiliser via les initiatives BlueHats 🧢
layout: layouts/home.njk
eleventyNavigation:
  key: À propos
  parent: BlueHats 🧢
  order: 1
---
<div class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-6">
        <h1><code>BlueHats</code>, c'est qui ?</h1>
        <p class="fr-text--lg">
          Les <code>BlueHats</code> sont <a href="/fr/contact/espaces-communication-bluehats/">toutes les personnes</a> qui souhaitent montrer qu'elles contribuent à
          des logiciels libres développés et/ou utilisés par l'administration publique : les agents publics
          impliqués dans le développement de ces logiciels, bien sûr, mais aussi les citoyens qui
          reconnaissent que leurs actions pour des logiciels libres aide les projets de l'administration.
        </p>
        <p class="fr-text--lg">
          <code>BlueHats</code> n'est pas un produit ou une marque de la DINUM, c'est un mouvement auquel elle
          contribue
          en publiant une <a href="/fr/bluehats/tags/gazette/">gazette</a>, en organisant des <a
              href="/fr/bluehats/tags/atelier/">ateliers en ligne</a> et des <a href="/fr/bluehats/tags/rencontre/">rencontres</a>
          en présentiel - toutes les administrations sont invitées à contribuer à ce mouvement !
        </p>
      </div>
      <div class="fr-hidden fr-unhidden-md fr-col-md-4">
        <img src="/icons/bluehats-logo-single.svg" alt="BlueHats logo" class="fr-responsive-img">
      </div>
    </div>
  </div>
</div>
<div class="fr-py-6w fr-background-alt--grey">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <h1 class="text-center"><code>BlueHats</code>, c'est quoi ?</h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      {% for tile in initiatives %}
        <div class="fr-col-12 fr-col-md-6">
          {% include "components/tile.njk" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="fr-container fr-my-6w fr-pb-6v">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-10">
      <h2 class="fr-h3">Comment participer ?</h2>
      {% include "components/accordionsgroup.njk" %}
    </div>
  </div>
</div>
