---
title: Mobiliser via les initiatives BlueHats 🧢
layout: layouts/home.njk
eleventyNavigation:
  key: À propos
  parent: Les BlueHats 🧢
  order: 1
---
<div class="fr-container fr-pt-8w fr-pb-3w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-offset-md-1 fr-col-12 fr-col-sm-12 fr-col-md-6">
            <h1><code>BlueHats</code>, c'est qui ?</h1>
            <p>
                Les <code>BlueHats</code> sont toutes les personnes qui souhaitent montrer qu'elles contribuent à
                des logiciels libres développés et/ou utilisés par l'administration publique : les agents publics
                impliqués dans le développement de ces logiciels, bien sûr, mais aussi les citoyens qui
                reconnaissent que leurs actions pour des logiciels libres aide les projets de l'administration.
            </p>
            <p>
                <code>BlueHats</code> n'est pas un produit de la DINUM, c'est un mouvement auquel elle contribue en
                publiant une gazette et en organisant des ateliers - toutes les administrations sont invitées à
                contribuer à ce mouvement !
            </p>
        </div>
        <div class="fr-col-md-4 fr-hidden fr-unhidden-md">
            <img src="/icons/hat-512.png" alt="" class="fr-responsive-img">
        </div>
    </div>
</div>
<div class="banner-secondary">
    <div class="fr-container fr-pt-6w fr-pb-6w">
        <h1 class="text-center"><code>BlueHats</code>, c'est quoi ?</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
            {% for tile in initiatives %}
                <div class="fr-col-12 fr-col-md-6">
                    {% include "components/tile.njk" %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="fr-container fr-pt-3w fr-pb-8v">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-10">
            <h2 class="fr-h3">Comment participer ?</h2>
            {% include "components/accordionsgroup.njk" %}
        </div>
    </div>
</div>
