<p>
  Les rencontres BlueHats sont des moments d'échange et de coopération en présentiel consacrés à toutes les personnes qui s'intéressent aux logiciels libres pour les administrations publiques.
</p>