<div class="fr-highlight fr-highlight--blue-cumulus">
  <p class="fr-text--lg">
    Les rencontres BlueHats sont des moments d'échange et de coopération en présentiel consacrés à
    toutes les personnes qui s'intéressent aux logiciels libres pour les administrations publiques.
  </p>
  <p class="fr-text--lg">
    Si vous travaillez dans une administration centrale et que vous souhaitez organiser une rencontre BlueHats ouverte à
    d'autres agents publics, nous pouvons vous aider : <a href="{{ "/contact/" | locale_url }}">contactez-nous</a>.
  </p>
</div>