---js
{
  title: "Initiatives BlueHats",
  pagination: {
    data: "collections.bluehats_posts",
    size: 10,
    reverse: true,
    before: function(paginationData, fullData) {
      return this.filterCollectionLang(paginationData, fullData.lang);
    }
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/bluehats/tags/{% if pagination.pageNumber %}{{ pagePrefix }}{{ pagination.pageNumber + 1 }}/{% endif %}"
}
---
<h2 class="fr-h4">{{ "filter_by_tag" | i18n }}</h2>
<div class="fr-mt-6v fr-mb-6w">
  {% set tags = collections.bluehats_posts | filterCollectionLang | getAllTags %}
  {% set tagsUrl = "/bluehats/tags/" %}
  {% include "components/taggroup.njk" %}
</div>
{% set postslist = pagination.items %}
{% include "postslist.njk" %}
{% include "templates/pagination.njk" %}
