---js
{
  pagination: {
    data: "collections.bluehats_posts",
    size: 10,
    reverse: true,
    before: function(paginationData, fullData) {
      return this.filterCollectionLang(paginationData, fullData.lang);
    }
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/bluehats/tags/{% if pagination.pageNumber %}{{ pagePrefix }}{{ pagination.pageNumber + 1 }}/{% endif %}"
}
---
<h1>Initiatives <code>BlueHats</code></h1>
<div class="fr-container">
  <p class="fr-text--heavy fr-mb-3v">{{ "filter_by_tag" | i18n }}</p>
  <div class="fr-mb-3w">
    {% set tags = collections.bluehats_posts | filterCollectionLang | getAllTags %}
    {% set tagsUrl = "/bluehats/tags/" %}
    {% include "components/taggroup.njk" %}
  </div>
  {% set postslist = pagination.items %}
  {% include "postslist.njk" %}
  {% include "templates/pagination.njk" %}
</div>
