---
title: "BlueHats Semester of Code : la nouvelle promotion"
layout: layouts/page.njk
segments:
  - url: /bluehats/
    title: BlueHats
  - url: /bluehats/bluehats-semester-of-code/
    title: BSoC
showBreadcrumb: true
permalink: /fr/bluehats/bsoc-promotion-2022/
---
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
  {% asyncAll person in people %}
  <div class="fr-col-12">
    {% set card = {
      url: person.projectUrl,
      urlDescription: "En savoir plus sur " + person.projectName,
      title: person.name,
      description: person.description,
      image: {
        path: person.imagePath,
        alt: person.name
      },
      orientation: "horizontal"
    } %}
    {% include "components/card.njk" %}
  </div>
  {% endall %}
</div>
<p>
  Découvrez aussi les <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
                         href="/fr/bluehats/bsoc-contributions-2022/">projets qui se sont proposés</a>
</p>
