---
title: "Awesome CodeGouvFr"
description: La liste des logiciels libres développés par des administrations et à fort potentiel de réutilisation.
layout: layouts/page.njk
eleventyNavigation:
  key: Awesome CodeGouvFr
  parent: Ressources
  order: 3
---

{% from "components/component.njk" import component with context %}
{{ component("callout", {
  title: "Pourquoi ces projets ?",
  description: 'Consultez la <a class="fr-link fr-text--lead" href="https://git.sr.ht/~codegouvfr/codegouvfr-data/tree/main/item/awesome-codegouvfr.yml#L5-9" target="_blank">liste des critères</a> et <a class="fr-link fr-text--lead" href="mailto:contact@code.gouv.fr">proposez-nous votre projet</a>.' | safe
}) }}
<div class="fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    {% asyncAll project in awesome %}
    {% set projectBadgeLink %}
      <a class="fr-link link-no-style" href="https://github.com/codegouvfr/awesome-codegouvfr#awesome-codegouvfr-score" target="_blank"><img src="{{ project.awesomeShield }}" alt="Badge Awesome CodeGouvFr du projet {{ project.name }}"></a>
    {% endset %}
    <div class="fr-col-12 fr-col-md-3">
      {{ component("card", {
        url: false,
        externalUrl: project.landingURL or project.url,
        title: project.name,
        description: project.description.fr.shortDescription,
        image: {
          src: project.logo,
          alt: "Logo du projet " + project.name
        },
        detail: projectBadgeLink | safe,
        detailEnd: project.fundedBy | pluck("name") | join(", ")
      }) }}
    </div>
    {% endall %}
  </div>
</div>
