---
title: Documentation
description: La mission logiciels libres vous accompagne dans la mise en oeuvre du plan d'action
layout: layouts/page.njk
eleventyNavigation:
  key: Documentation
  parent: Ressources
  order: 1
slugOverride: doc
---
<h1 class="text-center">{{ title }}</h1>
<div class="fr-grid-row fr-grid-row--gutters fr-py-3w fr-grid-row--center">
  {% for tile in docs %}
    <div class="fr-col-12 fr-col-md-4">
      {% include "components/tile.njk" %}
    </div>
  {% endfor %}
</div>