---js
{
  pagination: {
    data: "collections.posts",
    size: 10,
    reverse: true,
    before: function(paginationData, fullData) {
      return this.filterCollectionLang(paginationData, fullData.lang);
    }
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/blog/{% if pagination.pageNumber %}{{ page_prefix }}{{ pagination.pageNumber + 1 }}/{% endif %}",
  eleventyNavigation: {
    key: "Actualités",
    order: 5
  }
}
---
<h1 class="text-center">Actualités</h1>
<div class="fr-container">
  <p class="fr-text--heavy fr-mb-3v">{{ "filter_by_tag" | i18n }}</p>
  <div class="fr-mb-3w">
    {% set tags = collections.posts | filterCollectionLang | getAllTags %}
    {% include "components/taggroup.njk" %}
  </div>
  {% set postslist = pagination.items %}
  {% include "postslist.njk" %}
  {% include "components/pagination.njk" %}
</div>
