---js
{
  title: "Documentation",
  pagination: {
    data: "collections.posts",
    size: 1,
    alias: "tag",
    before: function(paginationData, fullData) {
      return this.paginateCollectionTags(this.filterCollectionLang(paginationData, fullData.lang), 6);
    }
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/blog/tags/{{ tag.tagName | slugify }}/{% if tag.pageNumber %}{{ pagePrefix }}{{ tag.pageNumber + 1 }}/{% endif %}",
}
---
<h2>{{ "filtered_by" | i18n }}
  <a class="fr-tag fr-fi-close-line fr-tag--icon-left" href="{{ "/blog/"| locale_url }}">
    {{ tag.tagName }}
  </a>
</h2>
<div class="fr-mt-6v fr-mb-6w">
  {% set tags = collections.posts | filterCollectionLang | getAllTags | filterTagList([tag.tagName]) %}
  {% include "components/taggroup.njk" %}
</div>
{% set postslist = tag.pageData %}
{% include "postslist.njk" %}
{% set tagUrl %}{{ "/blog/tags/"| locale_url }}{{ tag.tagName | slugify }}/{% endset %}
{% set pagination = pagination | buildPagination(tagUrl) %}
{% include "templates/pagination.njk" %}
