---
title: Tags
layout: layouts/page.njk
permalink: "/{{ lang }}/blog/tags/"
---
<h1>{{ title }}</h1>
{% set tags = collections.posts | filterCollectionLang | getAllTags %}
{% include "components/taggroup.njk" %}
