{% if not accordionItems %}{% set accordionItems = params.items %}{% endif %}

{% set groupId = nanoid() %}

<div class="fr-accordions-group">
  {% for accordionItem in accordionItems %}
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ groupId }}-{{ loop.index }}">
          {{ accordionItem.title }}
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-{{ groupId }}-{{ loop.index }}">
        {{ accordionItem.content | safe }}
      </div>
    </section>
  {% endfor %}
</div>