{# Mandatory variable `card { url: string, title: string, description: string, tags: string[], date: string, imagePath: string, imageAlt: string }` to make it work #}
<div class="fr-card fr-enlarge-link fr-card--horizontal-tier">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title"><a href="{{ card.url | locale_url }}">{{ card.title }}</a></h3>
            <p class="fr-card__desc">{{ card.description | stripTags }}</p>
            <div class="fr-card__start">
                {% set tags = card.tags %}
                {% include "components/taggroup-disabled.njk" %}
                <p class="fr-card__detail fr-icon-time-fill">
                    <time class="postlist-date" datetime="{{ card.date | htmlDateString }}">
                        {{ card.date | readableDate }}
                    </time>
                </p>
            </div>
        </div>
    </div>
    <div class="fr-card__header">
        {% if card.badges %}
            <ul class="fr-badges-group">
                {% for badge in card.badges %}
                    <li><p class="fr-badge fr-badge--green-emeraude">{{ badge }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if card.imagePath %}
            <div class="fr-card__img">{% image card.imagePath, card.imageAlt %}</div>
        {% endif %}
    </div>
</div>