{% if not card %}{% set card = params %}{% endif %}
<div class="fr-card fr-enlarge-link fr-card--horizontal-half fr-card--grey fr-card--no-border fr-card--sm {{ card.addClass }}">
  <div class="fr-card__body">
    <div class="fr-card__content">
      {% set cardUrl = card.url | locale_url or card.externalUrl %}
      <h3 class="fr-card__title"><a href="{{ cardUrl }}">{{ card.title }}</a></h3>
      <p class="fr-card__desc">{{ card.description }}</p>
      {% if card.announcement %}
        <div class="fr-card__start">
          <div class="fr-card__start">
            <ul class="fr-badges-group">
              <li>
                <p class="fr-badge fr-badge--new">{{ card.announcement }}</p>
              </li>
            </ul>
          </div>
        </div>
        {% elif card.detail %}
        <p class="fr-card__detail">{{ card.detail }}</p>
      {% endif %}
    </div>
  </div>
  {% if card.image %}
    <div class="fr-card__header">
      <div class="custom-card__img">
        <img src="{{ card.image.src }}" alt="{{ card.image.alt }}">
      </div>
    </div>
  {% endif %}
</div>