<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo"><p class="fr-logo"> {{ 'service_id' | i18n | safe }} </p></div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-491"
                                    aria-haspopup="menu" id="button-492" title="{{ 'menu' | i18n }}"> {{ 'menu' | i18n }}
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service"><a href="{{ '/' | locale_url_fallback }}"
                                                       title="{{ 'home' | i18n }} - {{ 'site_title' | i18n }} - {{ 'service_name' | i18n }}">
                            <p class="fr-header__service-title"> {{ 'site_title' | i18n }} </p></a>
                        <p class="fr-header__service-tagline">{{ 'site_description' | i18n }}</p></div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <button class="fr-btn fr-fi-theme-fill fr-link--icon-left"
                                        aria-controls="fr-theme-modal"
                                        data-fr-opened="false">{{ 'display_params' | i18n }}
                                </button>
                            </li>
                        </ul>
                        {% include "_includes/components/translate.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-491" aria-labelledby="button-492">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-491"
                    title="{{ 'close' | i18n }}"> {{ 'close' | i18n }}</button>
            <div class="fr-header__menu-links"></div>
            {% include "_includes/components/navigation.njk" %}
        </div>
    </div>
</header>
