{# Works with navigationLinks #}
<nav class="fr-nav" id="navigation-494" role="navigation" aria-label="{{ "main_menu" | i18n }}">
    <ul class="fr-nav__list">
        {% for link in navigationLinks[page.lang] %}
            <li class="fr-nav__item">
                {% if link.url %}
                    {% set link_url = link.url | locale_url(lang) %}
                    <a class="fr-nav__link" href="{{ link_url }}"
                       target="_self"{% if link_url == page.url %} aria-current="page"{% endif %}>{{ link.text }}</a>
                    {% elif link.urls %}
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-776">
                        {{ link.text }}</button>
                    <div class="fr-collapse fr-menu" id="menu-776">
                        <ul class="fr-menu__list">
                            {% for sublink in link.urls %}
                                <li>
                                    {% set link_url = sublink.url | locale_url(lang) %}
                                    <a class="fr-nav__link" href="{{ link_url }}"
                                       target="_self"{% if link_url == page.url %} aria-current="page"{% endif %}>{{ sublink.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>