---
title: Recourir et contribuer aux communs numériques
layout: layouts/page.njk
eleventyNavigation:
  key: Communs
  parent: Ressources
  order: 3
---
<h1>{{ title }}</h1>
{% set callout = {
  description: "Cette page vise à valoriser les démarches de communs numériques engagées par les administrations.  Elle référence aussi des communs numériques libres et collaboratifs auxquels le secteur public contribue déjà.  Les références proposées sur cette page sont appelées à évoluer au fil du temps."
} %}
{% include "components/callout.njk" %}
<h2>Des communs numériques déjà utilisés dans le secteur public</h2>
<p>On ne présente plus les projets Wikimédia, OpenStreetMap ou Open Food Facts. Ces communs numériques libres et
  collaboratifs font déjà l'objet de contributions de la part de l'administration et nous vous encourageons à y
  contribuer.</p>
<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-py-3w">
  {% asyncAll communNumerique in communsNumeriques %}
  <div class="fr-col-12 fr-col-md-4">
    {% set card = {
      url: false,
      externalUrl: communNumerique.url,
      title: communNumerique.title,
      description: communNumerique.description
    } %}
    {% include "components/card.njk" %}
  </div>
  {% endall %}
</div>
<h2>Des démarches de mise en commun initiées par l'administration</h2>
<p>Ces produits de l'administration publient des ressources sous licence libre et sont ouverts à la collaboration : nous
  vous invitons à les découvrir et à y contribuer.</p>
<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-py-3w">
  {% asyncAll communNumerique in admCommunsNumeriques %}
  <div class="fr-col-12 fr-col-md-4">
    {% set card = {
      url: false,
      externalUrl: communNumerique.url,
      title: communNumerique.title,
      description: communNumerique.description,
      imagePath: communNumerique.imagePath,
      imageAlt: communNumerique.title
    } %}
    {% include "components/card.njk" %}
  </div>
  {% endall %}
</div>
<p>
  Vous souhaitez proposer d'autres communs numériques d'intérêt général ? N'hésitez pas à nous <a
      class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/fr/contact/">contacter</a>
</p>
