---
title: BlueHats initiatives 🧢
layout: layouts/home.njk
eleventyNavigation:
  key: BlueHats 🧢
  order: 1
---
<div class="fr-container fr-pt-8w fr-pb-3w">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-offset-md-1 fr-col-12 fr-col-sm-12 fr-col-md-6">
      <h1><code>BlueHats</code>, who's in ?</h1>
      <p>
	The <code>BlueHats</code> are all the people who want to show that they contribute to Free and Open Source software developed and/or used by public agencies <strong>across the world</strong>: public servants involved in the use and development of these software, of course, but also citizens who recognize that their actions for Free Software help the administration's projects.
      </p>
      <p>
	<code>BlueHats</code> is <em>not</em> a product or brand of the French Free Software unit.  It's a global movement to which our unit contributes by publishing a <a href="/fr/bluehats/tags/gazette/">newsletter in French</a>, organizing <a href="/fr/bluehats/tags/atelier/">online workshops</a>, and <a href="/fr/bluehats/tags/rencontre/">in-person meetings</a>.  All public agencies across the world are invited to contribute to this movement!
      </p>
    </div>
    <div class="fr-col-md-4 fr-hidden fr-unhidden-md">
      <img src="/icons/bluehats_nyc_062023.jpg" alt="" class="fr-responsive-img">
    </div>
  </div>
</div>

<div class="banner-secondary">
  <div class="fr-container fr-pt-6w fr-pb-6w">
    <h1 class="text-center"><code>BlueHats</code>, where to start?</h1>
  </div>
</div>

<div class="fr-container fr-pt-8w fr-pb-3w">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-md-4 fr-hidden fr-unhidden-md">
      <img src="/icons/hat-512.png" alt="" class="fr-responsive-img">
    </div>
    <div class="fr-col-offset-md-1 fr-col-12 fr-col-sm-12 fr-col-md-6">
      <h2><code>BlueHats events</code></h2>
      <p>
	You can start by organizing <code>BlueHats</code> events inviting people to support Free Software in the public sector by sharing their expertise, hacking, etc.  Events do not need to be big hackathongs: even small IRL meetings are useful.
      </p>
      <h2><code>BlueHats online workshops</code></h2>
      <p>
	As a civil servant, you can share your expertise on Free Software easily via online workshops, inviting other civil servants.
      </p>
      <h2><code>BlueHats newsletters</code></h2>
      <p>
	If your administration is willing to commit to spread information about the pogress of Free Software in the public sector, it can publish a newsletter.
      </p>
    </div>
  </div>
</div>
