---
title: Home
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="banner-primary">
  <div class="fr-container fr-pt-8w fr-pb-6w fr-mb-6w">
    <div class="fr-grid-row">
      <div class="fr-col-offset-md-1 fr-col-12 fr-col-sm-12 fr-col-md-6">
        <h1>French Free Software Unit</h1>
      </div>
      <div class="fr-col-md-4 fr-hidden fr-unhidden-md col-center">
        <img src="/icons/binaire-256.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12">
      <h2>Action plan for Free Software and Digital Commons</h2>
      <p>
        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
           href="/en/action-plan-for-free-software-and-digital-commons">See</a>
      </p>
    </div>
  </div>
</div>
