---
title: French Free Software Unit
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="fr-py-6w fr-background-alt--blue-cumulus">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-6">
        <h1>{{ title }}</h1>
        <p class="fr-text--lead">
          Assisting government agencies in <strong>increasing their use of Free and Open Source software</strong> and
          supporting their efforts to <strong>publish source code</strong>.
        </p>
      </div>
      <div class="fr-hidden fr-unhidden-md fr-col-md-4">
        <img src="/illustrations/Programmer.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10">
        <h2>Action plan for Free Software and Digital Commons</h2>
        <a class="fr-btn" href="/en/action-plan-for-free-software-and-digital-commons">See It</a>
      </div>
    </div>
  </div>
</div>
