<!doctype html>
<html lang="{{ page.lang }}" data-fr-scheme="system" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/prism-okaidia.css">
    <link rel="stylesheet" href="/css/prism-diff.css">
    <link rel="stylesheet" href="/css/dsfr.min.css">
    <link rel="stylesheet" href="/css/utility/utility.min.css">

    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="theme-color" content="#000091">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="/favicon/manifest.webmanifest" crossorigin="use-credentials">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <title>{{ title or metadata.title }}</title>
</head>
<body>
    {% include "components/header.njk" %}

    <main id="content">
        {{ content | safe }}
    </main>

    {% include "components/newsletter_and_follow_us.njk" %}
    {% include "components/footer.njk" %}

    {% include "components/display.njk" %}

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->

    <!-- Script en version es6 module et nomodule pour les navigateurs le ne supportant pas -->
    <script type="module" src="/js/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="/js/dsfr.nomodule.min.js"></script>
    <!-- Script Matomo pour le suivi des visites -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setExcludedQueryParams", ["simulationId","_csrf"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
      var u="https://stats.data.gouv.fr/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '95']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

</body>
</html>
