---
layout: layouts/base.njk
---
<div class="fr-container fr-py-8v">
  {% if showBreadcrumb %}
    {% include "components/breadcrumb.njk" %}
  {% endif %}
  <div class="fr-grid-row fr-grid-row--center" data-pagefind-body>
    <div class="fr-col-12 fr-col-md-8">
      {% set tagsUrl = "/bluehats/tags/" %}
      {% include "components/taggroup.njk" %}
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          <hgroup>
            <h1>{{ title }}</h1>
            <p class="fr-text--xs">
              {{ "published_on" | i18n }}
              <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </p>
          </hgroup>
        </div>
        <div class="fr-col-12 fr-col-md-3">
          {% include "templates/share.njk" %}
        </div>
      </div>

      {% if description %}
        <p class="fr-text--lead">
          {{ description | safe }}
        </p>
      {% endif %}

      {{ content | safe }}

      {% if video %}
        <figure class="fr-content-media" role="group">
          <div class="fr-content-media__img">
            <iframe class="fr-responsive-vid" title="{{ video.title }}" src="{{ video.src }}" frameborder="0"
                    allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
          </div>
          <figcaption class="fr-content-media__caption">{{ video.title }}</figcaption>
        </figure>
      {% endif %}

      {% if slides %}
        <figure class="fr-content-media" role="group">
          <div class="fr-content-media__img">
            <iframe class="fr-responsive-vid" title="{{ slides.title }}" src="{{ slides.src }}"
                    mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="0"></iframe>
          </div>
          <figcaption class="fr-content-media__caption">Support de présentation</figcaption>
        </figure>
      {% endif %}
    </div>
  </div>

  {% if collections.bluehats_posts %}
    {% set previousPost = collections.bluehats_posts | filterCollectionLang | getPreviousCollectionItem %}
    {% set nextPost = collections.bluehats_posts | filterCollectionLang | getNextCollectionItem %}
    {% if nextPost or previousPost %}
      <h2>{{ "read_also" | i18n }}</h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-12v">
        {% if previousPost %}
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card fr-enlarge-link fr-card--grey fr-card--no-border">
              <div class="fr-card__body">
                <p class="fr-card__detail fr-icon-time-fill">
                  <time datetime="{{ previousPost.date | htmlDateString }}">
                    {{ previousPost.date | readableDate }}
                  </time>
                </p>
                <h4 class="fr-card__title">
                  <a href="{{ previousPost.url }}" class="fr-card__link">{{ previousPost.data.title }}</a>
                </h4>
              </div>
            </div>
          </div>
        {% endif %}
        {% if nextPost %}
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card fr-enlarge-link fr-card--grey fr-card--no-border">
              <div class="fr-card__body">
                <p class="fr-card__detail fr-icon-time-fill">
                  <time datetime="{{ nextPost.date | htmlDateString }}">
                    {{ nextPost.date | readableDate }}
                  </time>
                </p>
                <h4 class="fr-card__title">
                  <a href="{{ nextPost.url }}" class="fr-card__link">{{ nextPost.data.title }}</a>
                </h4>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

</div>
